
header {
  display: block;
}
body {
  line-height: 1;
  background-color: #fafafa;
}


* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.container {
  width: 390px;
  margin: 0 auto;
  text-align: center;
  color: #333;
}


header h1 {
  font: 36px/40px arial;
  padding: 10px;
}


.message {
  padding: 10px;
  font-size: 18px;
}
.end-message {
  font-size: 26px;
  color: #000000;
}
.play-again {
  padding: 10px 20px;
  width: 100%;
  font-size: 26px;
  border: 1px solid #fff;
  color: #fff;
  background-color: #000000;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  display: none;
}
.play-again:hover {
  background-color: #000000;
}


.gameboard {
  overflow: hidden;
}
.gameboard div {
  background-color: #FFFFFF;
  width: 130px;
  height: 130px;
  float: left;
  font-size: 80px;
  line-height: 130px;
}
.r-border {
  border-right: 1px solid #333;
}
.b-border {
  border-bottom: 1px solid #333;
}
.winning-square {
  color: #000000;
}
